@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: flex;
  flex-direction: column;
  min-height: 120vh;
  background-image: url("../img/funny-gif-nobody-got-time-for-that.gif");
  background-position: center;
  background-size: cover;
}

main {
  flex-grow: 1;
}

header{
  font-family: 'Fredoka One', cursive;
}

h1{
  font-family: 'Fredoka One', cursive;
}